/* My Styles */

/* the props */
@import "https://unpkg.com/open-props";

@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "https://unpkg.com/open-props/masks.edges.min.css";
@import "https://unpkg.com/open-props/masks.corner-cuts.min.css";

/* Vertical and Horizontal aligment of container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Zodiak-Light;
    background: var(--gradient-19);
}


/* scene */
.scene {
    width: 450px;
    height: 675px;
    /* space between card-scenes */

    /* set perspective   */
    perspective: 750px;

}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
  
}

/* face */
.face {
position: absolute;
    height: 100%;
    width: 100%;
  
   /* hide back face   */
    backface-visibility: hidden;
    
}

/* frontface */
.front {
  background-color: var(--brown-0);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: 25px;

 
}

/* backface */
.back {
  transform: rotateY(-180deg);
  background-color: var(--brown-0);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  padding: 25px;
}

/* flip it? */
.flipped {
/*   transform: scale(1.5); */
  transform: rotateY(-180deg);
}



.bioPic {
  width: 50%;
  padding-top: 2px;
 margin: 0 auto;
 display: block;
}

.workPic{
  width: 90%;
  padding-top: 60px;
  align-content: center;
 margin: 0 auto;
 display: block;
}

h1{
  text-align: center;
  color: var(--brown-5);
  font-size: var(--font-size-7);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-family: 'Alpino-Bold';
}

p {
  padding-left: 15px;
  padding-right: 15px;
  color: var(--brown-11);
  font-size: var(--font-size-2);
  font-family: 'Alpino-Regular';
}

a{
  padding-left: 15px;
  color: var(--camo-5);
  font-size: var(--font-size-3);
  font-family: 'Alpino-Regular';
  margin-left: auto;
margin-right: auto;
}

nav{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

a:hover{
  color: var(--jungle-11);
}


@media screen and (max-width: 30em) {
  
  body {
    display: flex;
    flex-direction: column;
    height: 850px;
    padding-top: 20px;
  }
  
  .scene {
    height: 600px;
    width: 75%;
    margin: 5px auto 5px auto;
  }
  
  article:hover { 
  transform: scale(1);
  
}
  
}




/* Background Colors */

/* .bg0 {
    background-color: #8eaaaf;
background-image: linear-gradient(0deg, #8eaaaf 0%, #ffdb96 46%, #ef892e 100%);
  
  }
  
  .bg1 {
    background-color: #8eaaaf;
background-image: linear-gradient(0deg, #8eaaaf 0%, #ffdb96 46%, #ef892e 100%);
  }
  
  .bg2 {
    background-color: #ef892e;
background-image: linear-gradient(0deg, #ef892e 0%, #ffdb96 100%);
  }

  .bg3{
    background-color: #ef892e;
background-image: linear-gradient(0deg, #ef892e 0%, #ffdb96 100%);

  }

  .bg4{
    background-color: #f9c394;
background-image: linear-gradient(180deg, #f9c394 0%, #ffdb96 50%, #e6e8b8 100%);

  }

  .bg5{
    background-color: #f9c394;
background-image: linear-gradient(180deg, #f9c394 0%, #ffdb96 50%, #e6e8b8 100%);

  }

  .bg6{
    background-color: #f9c394;
background-image: linear-gradient(180deg, #f9c394 0%, #ffdb96 50%, #e6e8b8 100%);

  }

  .bg7{
    background-color: #d9ebee;
background-image: linear-gradient(180deg, #d9ebee 0%, #ffb323 100%);

  }

  .bg8{
    background-color: #d9ebee;
background-image: linear-gradient(180deg, #d9ebee 0%, #ffb323 100%);

  } */



  
